@import '../vars.scss';

#Home {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 160px 32px;

  @media (max-width: $mobile) {
    padding: 120px 16px 32px 16px;
    text-align: center;
  }

  .bg {
    position: absolute;
    bottom: 4vh;
    right: 4vh;
    height: 64vh;
    opacity: 1;
    z-index: 0;

    @media (max-width: $mobile) {
      height: unset;
      width: 92vw;
      right: 4vw;
    }
  }

  h1 {
    font-size: 64px;
    color: $light;
    line-height: 1;
    margin: 0;
    z-index: 2;

    @media (max-width: $mobile) {
      font-size: 54px;
    }
  }

  h2 {
    font-size: 24px;
    font-weight: 500;
    z-index: 2;
  }

  h3 {
    font-size: 32px;
  }

  label {
    font-weight: 900;
  }

  input {
    margin-left: 8px;
  }
}

.action {
  margin-top: 16px;
  background: $primary !important;
  color: $white !important;
}

.Buttons {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
  @media (max-width: $mobile) {
    flex-wrap: wrap;
    justify-content: center;
  }

  button {
    margin: 8px;
    background: $bg;

    &.active {
      background: $primary !important;
      color: $bg;
    }
  }
}
