@import '../vars.scss';

#Board {
  display: grid;
  grid-template-columns: repeat(var(--boardSize, 1), 1fr);
  grid-gap: 0px;
  grid-auto-rows: 1fr;
  width: 64vh;
  height: 64vh;
  max-width: 92vw;
  max-height: 92vw;
  margin: auto;
  background: $bg;
  border-radius: 8px;

  .Cell {
    position: relative;
    transition: all 0.32s ease;
    padding: 10%;
    height: 100%;
    z-index: 4;
    pointer-events: none;

    * {
      pointer-events: all;
    }

    &.active {
      z-index: 5;
      .Stone {
        border: 4px solid $highlight !important;
      }
    }

    #ContextMenu {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 0px;
      left: 50%;
      padding: 8px 12px;
      background: $dark;
      box-shadow: 0px 8px 8px 0px rgba($bg, 0.64);
      border-radius: 8px;
      z-index: 10;

      div {
        width: 16px;
        height: 16px;
        border: 2px solid $grey;
        border-radius: 50%;
        margin: 4px;
        cursor: pointer;

        &.clear {
          background: $dark;
        }
        &.light {
          background: $white;
        }
        &.dark {
          background: $primary;
        }

        &.close {
          display: flex;
          margin: 4px 0 8px 16px;
          justify-content: center;
          align-items: center;
          border: none;
          font-size: 24px;
          text-decoration: none;
          font-weight: 900;
        }
      }
    }

    .Stone {
      position: relative;
      z-index: 10;
      border-radius: 50%;
      border: 4px solid $dark;
      background: $bg;

      height: 60%;
      width: 60%;
      margin: 20%;

      &:hover {
        height: 80%;
        width: 80%;
        margin: 10%;
        cursor: pointer;
        background: $light;
        border: 4px solid $grey;
      }

      &.light {
        border: none;
        background: $white;
        height: 100%;
        width: 100%;
        margin: 0;
      }
      &.dark {
        border: none;
        background: $primary;
        height: 100%;
        width: 100%;
        margin: 0;
      }
    }

    &:not(.right-edge):before {
      content: '';
      z-index: -1;
      position: absolute;
      top: 50%;
      left: 30%;
      width: 100%;
      height: 2px;
      background: $dark;
    }

    &:not(.bottom-edge):after {
      content: '';
      z-index: -1;
      position: absolute;
      left: 50%;
      top: 30%;
      height: 100%;
      width: 2px;
      background: $dark;
    }
  }
}
